<ion-header>
  <ion-toolbar>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid >
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-list>
          <ion-item 
            *ngFor="let place of loadedOffers"
            [routerLink]="['/places/tabs/offers', 'place.id']"
            detail>
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imgUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ place.title }}</h2>
              <p>{{ place.description }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
