<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offers">
      <ion-icon name="card"></ion-icon>
      <ion-label>Offers</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
