<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/search"></ion-back-button>
    </ion-buttons>
    <ion-title>Place detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button 
    color="primary" 
    margin 
    (click)="onBook()">
      Book
  </ion-button>
</ion-content>
